.search {
    position: absolute;
    top: 100px;
    width: 100vw;
    height: calc(100vh - 100px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    padding: 15px;

    img {
        max-width: 200px;
    }
}